<!-- en (ngSubmit)="enviar($event)" es necesario pasar el evento nativo de html para cancelarlo en ts y asi evitar que se recargue la página -->
<!-- novalidate sirve para indicarle a HTML que no haga validaciones automáticas  -->

<!-- Start :: Formulario -->
<form [formGroup]="formulario" (ngSubmit)="enviar($event)" class="shadow" novalidate>


    <!-- state -->
    <div class="form-group">
        <label for="state">Departamento*</label>
        <select formControlName="state" name="state" class="form-control" id="state"
            (change)="changeCountry($event.target.value)">
            <option value=""> Seleccione Departamento</option>
            <option *ngFor="let departs of states">{{departs.Departamento}}</option>
        </select>
        <div *ngIf="stateField.errors && stateField.touched">
            <p *ngIf="stateField.hasError('required')">
                Selección Requerida *
            </p>
        </div>
    </div>

    <!-- city -->
    <div class="form-group">
        <label for="city">Ciudad*</label>
        <select formControlName="city" class="form-control" id="city">
            <option value=""> Seleccione Ciudad</option>
            <option *ngFor="let city of cities">{{city}}</option>
        </select>
        <div *ngIf="cityField.errors && cityField.touched">
            <p *ngIf="cityField.hasError('required')">
                Selección Requerida *
            </p>
        </div>
    </div>

    <!-- Name -->
    <div class="form-group">
        <label for="name">Nombre*</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Pepito de Jesús">
        <!-- {{nameField.value.length}}/50 -->
        <span class="icon-left"><i class="fas fa-check-circle"></i></span>
        <span class="msj" *ngIf="nameField.errors && nameField.touched">
            <p *ngIf="nameField.hasError('required')">
                Campo Requerido *
            </p>
            <p *ngIf="nameField.hasError('maxlength')">
                Te pasaste, máximo deben haber 50 caracteres.
            </p>
        </span>
    </div>

    <!-- E-mail -->
    <div class="form-group">
        <label for="email">Correo*</label>
        <input formControlName="email" type="email" class="form-control" id="email"
            placeholder="Pepitodejesus@gmail.com">
        <span *ngIf="emailField.errors && emailField.touched">
            <p *ngIf="emailField.hasError('required')">
                Campo Requerido *
            </p>
            <p *ngIf="emailField.hasError('email')">
                Este correo no es válido *
            </p>
        </span>
    </div>

    <!-- Enviar -->
    <button type="submit" name="enviar" class="btn">Enviar</button>
</form>
<!-- End :: Formulario -->