<header class="container">
  <div class="row">
      <div class="col-sm-12 ">
          <img src="assets/sigma-logo.png" class="logo">
          <h3 class="text-center  font-weight-bold ">Prueba de desarrollo Sigma</h3>
          <div class="row">
              <div class="col-md-8 offset-md-2">
                  <p class="text-center text-descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit. Cumque, laborum! Officiis ab ipsam molestias
                      inventore facere, veniam enim magni est! Sequi blanditiis corporis dicta molestias, iusto
                      consequatur sapiente est ullam.</p>
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <img src="assets/sigma-image.png" class="img-formulario">
      </div>


      <div class="col-sm-6">

          <div class="col-12 col-sm-2 col-md-10">

              <app-formulario></app-formulario>
              
          </div>
          <br>
      </div>
  </div>
</header>